
body {
    background-image: url(https://cdn.pixabay.com/photo/2015/01/10/17/32/physiotherapy-595529_960_720.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
h1{
    color:red;
    font-family:Georgia, Times, 'Times New Roman', serif;
    text-align:start;
    font-size:70px;
}
h2 {
    color:blue;
    text-align:center;
    font-family:Helvetica;
    font-size:60px;
}
h3 {
    color:white;
    text-align: center;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}
p {
    text-align:center;
    font-size:30px;
    font-family:'Trebuchet MS', sans-serif;
    color:gray;
    padding:20px;
    border:solid; color: gray;
}
footer {
    color:crimson;
    font-size:20px;
    text-align:right;
}